In [51]:
import pandas as pd
import numpy as np

In [52]:
df=pd.read_csv('C:\\Users\\Aakash\\Desktop\\adhoc_ML\\info.csv')

In [53]:
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [54]:
x=df.iloc[0:,0:].values

In [55]:
from sklearn.preprocessing import Imputer

In [56]:
Imp=Imputer(missing_values='NaN',axis=0,strategy='mean')

In [57]:
impute=Imp.fit(x[:,1:3])

In [58]:
x[:,1:3]=impute.transform(x[:,1:3])

In [59]:
x

array([['France', 44.0, 72000.0, 'No'],
       ['Spain', 27.0, 48000.0, 'Yes'],
       ['Germany', 30.0, 54000.0, 'No'],
       ['Spain', 38.0, 61000.0, 'No'],
       ['Germany', 40.0, 63777.77777777778, 'Yes'],
       ['France', 35.0, 58000.0, 'Yes'],
       ['Spain', 38.77777777777778, 52000.0, 'No'],
       ['France', 48.0, 79000.0, 'Yes'],
       ['Germany', 50.0, 83000.0, 'No'],
       ['France', 37.0, 67000.0, 'Yes']], dtype=object)

In [60]:
from sklearn.preprocessing import LabelEncoder

In [61]:
le=LabelEncoder()

In [66]:
x[0:,0]=le.fit_transform(x[0:,0])

In [67]:
x[0:,1]=le.fit_transform(x[0:,1])

In [68]:
x[0:,2]=le.fit_transform(x[0:,2])

In [73]:
x

array([[0, 7, 7, 'No'],
       [2, 0, 0, 'Yes'],
       [1, 1, 2, 'No'],
       [2, 4, 4, 'No'],
       [1, 6, 5, 'Yes'],
       [0, 2, 3, 'Yes'],
       [2, 5, 1, 'No'],
       [0, 8, 8, 'Yes'],
       [1, 9, 9, 'No'],
       [0, 3, 6, 'Yes']], dtype=object)

In [74]:
def entropy(target_coloumn):
    elements,counts = np.unique(target_coloumn,return_counts = True)
    entropy = np.sum([(-counts[i]/np.sum(counts))*np.log2(counts[i]/np.sum(counts)) for i in range(len(elements))])
    return entropy

In [75]:
entropy(x[:,0])

1.5709505944546684